@import url('main.css');
@import url('header.css');

html,body{
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.separadorPrincipal{
    height: 15px;
    background-color: #FFD700; /* amarillo */
}